# Database
MONGO_URL=mongodb://localhost:27017/stocktrading
PORT=port_no
BACKEND_URL=http://localhost:8000
FRONTEND_URL=http://localhost:5173
DASHBOARD_URL=http://localhost:3000
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000

# JWT
JWT_SECRET=your-jwt-secret-key
JWT_EXPIRES_IN=xd   #x days

# Session
SESSION_SECRET=your-session-secret-key

# Finnhub API (for live stock prices)
FINNHUB_API_KEY=your-finnhub-api-key

# Google OAuth
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

# Razorpay Payment Gateway
KEY_ID=your-razorpay-key-id
KEY_SECRET=your-razorpay-key-secret

# Environment
NODE_ENV=development
