# Database
MONGO_URL=mongodb://localhost:27017/stocktrading
PORT=port_no

# JWT
JWT_SECRET=your-jwt-secret-key
JWT_EXPIRES_IN=xd   #x days

ALPHA_VANTAGE_API_KEY=cjdbnvjdbvjk
FINNHUB_API_KEY=djbvdfjvbfjd

# Google OAuth
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

# Razorpay Payment Gateway
KEY_ID=your-razorpay-key-id
KEY_SECRET=your-razorpay-key-secret