REACT_APP_APP_MODE=deployed
REACT_APP_BACKEND_URL_LOCAL=http://localhost:8000
REACT_APP_BACKEND_URL_DEPLOYED=https://your-backend-domain.example
REACT_APP_FRONTEND_URL_LOCAL=http://localhost:5173
REACT_APP_FRONTEND_URL_DEPLOYED=https://your-frontend-domain.example
