.custom-width {
  max-width: 900px;
}

@media (max-width: 768px) {
  .custom-width {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.95rem;
  }
}
